.sender {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid darkgoldenrod;
}

// .sender:focus-within {
//     border-color: #4a71f2;
// }